.search {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    width: 250px;
    height: 25px;
    box-sizing: border-box;
  }
  button {
    display: inline-block;
    height: 25px;
  }
}
