body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.input {
  width: 400px;
  height: 30px;
  border-radius: 20px;
  padding-left: 15px;
}
input::-webkit-input-placeholder {
  padding-left: 2px;

  /* placeholder颜色  */
  color: #ccc;
  /* placeholder字体大小  */
  font-size: 16px;
  /* placeholder位置  */
}
