.search {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  button {
    display: inline-block;
    height: 25px;
    border: 1px solid #ccc;
    width: 150px;
    height: 35px;
    border-radius: 6px;
  }
}
